{% extends 'catalog/base.html' %}
{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div class="col-9">
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="card border-0 shadow-lg w-100" style="background-color: #ffebf7;">
            <div class="text-center">
                <span class="fs-3 p-3">{{ object.email }}</span>
                <br>
                <span class="fs-6">{{ object.country }}</span>
            </div>
            <hr>
            {% if user.avatar %}
            <img src="{{ object.avatar.url }}">
            {% else %}
            <img src="/media/avatars/avatar.jpg">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{ object.phone_number }}</p>
                <a href="{% url 'users:change-profile'%}" class="btn text-white" style="background-color: #660001;">Изменить</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="card border-0 shadow-lg w-100" style="background-color: #ffebf7;">
            <div class="text-center">
                    <span class="fs-3 p-3">Авторизуйтесь</span>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}