{% extends 'base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
        <!-- Контент -->
        <div class="col-9 text-center">
            <h1>Контакты</h1>
            <div class="col-9 d-flex justify-content-center align-items-center p-3 flex-column gap-3">
                <div class="container border-0 shadow-lg w-100" style=" background-color: #ffebf7;">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="p-3">
                            <input type="text" id="name" name="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="p-3">
                            <input type="text" id="email" name="email" placeholder="Ваш email" required>
                        </div>
                        <div class="p-3">
                            <textarea id="message" name="message" rows="10" placeholder="Расскажи нам что на душе" required></textarea>
                        </div>
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}