<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body style="background-color: #ffebf7;">

<div class="container-fluid">
    <div class="row min-vh-100">
        <!-- Меню -->
        <div class="col-3 d-flex flex-column" style="background: linear-gradient(0deg, #000000, #660001);">
            <div class="text-center position-relative mt-2">
                <img src="/static/icons/Fish_logo.png" width="64" height="64" alt="logo"
                     class="position-absolute top-0 start-0 ms-3 mt-1">
                <h1 class="text-white mt-4">Меню</h1>
                <hr class="border-white">
            </div>

            <div class="p-3 d-flex flex-column gap-3">
                <button class="btn text-white" style="background-color: #660001;">
                    Главная
                </button>
                <button class="btn text-white" style="background-color: #660001;">Чат(в разработке)</button>
                <button class="btn text-white" style="background-color: #660001;">Поиск(в разработке)</button>
                <button class="btn text-white" style="background-color: #660001;">Контакты Главных Котеков</button>
            </div>

            <div class="mt-auto pb-3 text-center text-white">
                <img src="/media/avatars/avatar.jpg" width="48" height="48" alt="avatar"
                     class="rounded-circle" style="object-fit: cover;">
                <div class="btn-group dropup">
                    <button class="btn dropdown-toggle text-white mt-2" data-bs-toggle="dropdown"
                            style="background-color: #000000;">
                        <span class="fs-5">Пользователь</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end fs-5"
                        style="background: linear-gradient(0deg, #100000, #240000);">
                        <li><a class="dropdown-item text-white" href="#">Профиль</a></li>
                        <li><a class="dropdown-item text-white" href="#">Настройки</a></li>
                        <li><hr class="dropdown-divider border-white"></li>
                        <li><a class="dropdown-item text-white" href="#">Выход</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Контент -->
        <div class="col-9 text-center">
            <div class="col-9 d-flex justify-content-center align-items-center p-3 flex-column gap-3">
                <div class="card border-0 shadow-lg w-100" style=" background-color: #ffebf7;">
                    <img src="/media/avatars/avatar.jpg" width="48" height="48" alt="avatar"
                     class="rounded-circle" style="object-fit: cover;">
                    <span class="fs-5">Пользователь</span>
                    <hr>
                    <img src="/media/content/image/i.jpg" class="card-img-top" alt="рыбный мем который не работает потому что не знаю как работать с MEDIA">
                    <div class="card-body">
                        <p class="card-text">Это соцсеть для хвастования собственными рыбоф</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
