<div class="col-3 d-flex flex-column" style="background: linear-gradient(0deg, #000000, #660001);">
    <div class="text-center position-relative mt-2">
        <img src="/static/icons/Fish_logo.png" width="64" height="64" alt="logo"
             class="position-absolute top-0 start-0 ms-3 mt-1">
        <h1 class="text-white mt-4">Меню</h1>
        <hr class="border-white">
    </div>

    <div class="p-3 d-flex flex-column gap-3">
        <button class="btn text-white" style="background-color: #660001;">
            Главная
        </button>
        <button class="btn text-white" style="background-color: #660001;">Чат(в разработке)</button>
        <button class="btn text-white" style="background-color: #660001;">Поиск(в разработке)</button>
        <button class="btn text-white" style="background-color: #660001;">
            Контакты Главных Котеков
        </button>
    </div>

    <div class="mt-auto pb-3 text-center text-white">
        <img src="/media/avatars/avatar.jpg" width="48" height="48" alt="avatar"
             class="rounded-circle" style="object-fit: cover;">
        <div class="btn-group dropup">
            <button class="btn dropdown-toggle text-white mt-2" data-bs-toggle="dropdown"
                    style="background-color: #000000;">
                <span class="fs-5">Пользователь</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end fs-5"
                style="background: linear-gradient(0deg, #100000, #240000);">
                <li><a class="dropdown-item text-white" href="#">Профиль</a></li>
                <li><a class="dropdown-item text-white" href="#">Настройки</a></li>
                <li><hr class="dropdown-divider border-white"></li>
                <li><a class="dropdown-item text-white" href="#">Выход</a></li>
            </ul>
        </div>
    </div>
</div>