 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body style="background-color: #ffebf7;">

<div class="container-fluid">
    <div class="row min-vh-100">
        <!-- Меню -->
        {% include 'catalog/menu.html' %}
        <!-- Контент -->
        {% block content %}{% endblock %}
    </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>