{% extends 'catalog/base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="col-9 text-center">
    <div class="col-9 d-flex justify-content-center align-items-center p-3 flex-column gap-3">
        <div class="card border-0 shadow-lg w-100" style=" background-color: #ffebf7;">
            <div>
                <img src="/media/avatars/avatar.jpg" width="48" height="48" alt="avatar"
                class="rounded-circle" style="object-fit: cover;">
                <span class="fs-3">Пользователь</span>
            </div>
            <hr>
            <img src="/media/contents/image/i.jpg" class="card-img-top" alt="рыбный мем который не работает потому что не знаю как работать с MEDIA">
            <div class="card-body">
                <p class="card-text">Это не соцсеть для хвастования собственными продуктами</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}