{% extends 'catalog/base.html' %}
{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div class="col-9">
    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="card border-0 shadow-lg w-100" style="background-color: #ffebf7;">
            <div class="text-center">
                <span class="fs-3 p-3">{{ object.name }}</span>
                <br>
                <span class="fs-6">{{ object.category.name }}</span>
            </div>
            <hr>
            <img src="{{ product.img.url }}" class="card-img-top" alt="preview">
            <div class="card-body">
                <p class="card-text">{{ object.description }}</p>
                <button class="btn text-white justify-content-center" style="background-color: #660001;">{{ object.price }}$</button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="card border-0 shadow-lg w-100" style="background-color: #ffebf7;">
            <div class="text-center">
                    <span class="fs-3 p-3">Авторизуйтесь</span>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}